html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}
Update August 

body {
  margin: 0;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.translation-app {
  padding: 20px;
  outline: 5px solid black;
  width: 300px;


}

.input-box {
  outline: 5px solid red;
  width: 100%;
  margin: 20px auto;
}


.output-box {

  outline: 5px solid green;
  width: 80%;
  margin: 20px auto;
}

.outline-blue {
  outline: 5px solid blue;
}

.outline-red {
  outline: 5px solid red;
}

.outline-green {
  outline: 5px solid green;
}

.bg-green {
  background-color: green;
}

.bg-purple {
  background-color: purple;
}